{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>
    {{ newspapers.title }}
    <a href="{% url 'newspapers:newspapers-delete' pk=newspapers.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'newspapers:newspapers-update' pk=newspapers.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Topic: {{ newspapers.topic.title }}</p>
  <h4>
    Redactors:
  </h4>
  <ul>
    {% for redactor in newspapers.redactor.all %}
      <li>{{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})</li>
    {% endfor %}
  </ul>
  <hr>
  <div class="content">
    {{ newspapers.content }}
  </div>
{% endblock %}
